<!-- Display section only after successful registration -->
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-3">
          <div class="card-header bg-success text-white">
            <h3 class="mb-0">What would you like to do next?</h3>
          </div>
          <div class="card-body">
            <p class="card-text">Schedule Client Meeting:</p>
            <a routerLink="/add" class="btn btn-primary" target="_blank">Add Meetings</a>
          </div>
          <div class="card-body">
            <p class="card-text">View the Meeting Schedule</p>
            <a routerLink="/view" class="btn btn-primary" target="_blank">View Meetings</a>
          </div>
          <div class="card-body">
            <p class="card-text">Add Project Details:</p>
            <a routerLink="/addProject" class="btn btn-primary" target="_blank">Add Project</a>
          </div>
          <div class="card-body">
            <p class="card-text">View Project Details:</p>
            <a routerLink="/viewProject" class="btn btn-primary" target="_blank">View Projects</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  